<header class="header-container">
    <img class="logo" src="{{ '/assets/logo.jpg' | relative_url }}" alt="Logo de Code Collectif">
    <h1>Code Collectif</h1>
    <nav class="menu">
        <ul>
            <li><a href="{{ '/accueil' | absolute_url }}">Accueil</a></li>
            <li><a href="{{ '/projets' | absolute_url }}">Projets</a></li>
            <li><a href="{{ '/activites' | absolute_url }}">Activités</a></li>
            <li><a href="#">Partenaires</a></li>
            <li><a href="https://www.helloasso.com/associations/code-collectif" target="_blank">Adhérer</a></li>
        </ul>
    </nav>
</header>
